<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.css">
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.19/dist/shoelace/shoelace.esm.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% block stylesheets %}{% endblock stylesheets %}

        <title>{% if title %}{{ title }}{% else %}FlaskStarter{% endif %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Flask Starter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% set navigation_bar = [
                    (url_for('main.index'), 'home', 'Home'),
                ] -%}
                    <ul class="navbar-nav mr-auto">
                        {% for href, id, caption in navigation_bar %}
                            <li class="nav-item{% if id == active_page %} active{% endif %}"><a href="{{ href|e }}" class="nav-link">{{ caption|e }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if current_user.is_anonymous %}
                        <a class="btn btn-light" href="{{ url_for('user.index') }}">Login</a>
                    {% else %}
                        <span class="navbar-text">Welcome {{ current_user.username }}</span>
                    {% endif %}

                </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <footer class="footer mt-auto bg-light py-3">
            <div class="container">
                <p class="pt-3 text-center text-muted">&copy; me</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>