{% extends "base.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main role="main" class="container flex-shrink-0">
        <div class="row">
            <div class="col">
                <h1 style="font-size: var(--sl-font-size-xxx-large)">Flask Starter</h1>
                <sl-tab-group>
                    <sl-tab slot="nav" panel="general">General</sl-tab>
                    <sl-tab slot="nav" panel="custom">Custom</sl-tab>
                    <sl-tab slot="nav" panel="advanced">Advanced</sl-tab>

                    <sl-tab-panel name="general">
                        <p>Going to catch the red dot today going to catch the red dot today woops poop hanging from
                        butt must get rid run run around house drag poop on floor maybe it comes off woops left brown marks on
                        floor human slave clean lick butt now i like frogs and 0 gravity throw down all the stuff in the
                        kitchen, yet lick sellotape and rub against owner because nose is wet but floof tum, tickle bum,
                        jellybean footies curly toes.</p>
                        <sl-button type="primary"><sl-icon name="truck"></sl-icon> View more</sl-button>
                    </sl-tab-panel>
                    <sl-tab-panel name="custom">
                        <p>Chill on the couch table my slave human didn't give me any food so i
                        pooped on the floor hit you unexpectedly it's 3am, time to create some chaos and scratch my tummy
                        actually i hate you now fight me run at 3am. Cat walks in keyboard stretch, but purr when being pet.
                        Eat plants, meow, and throw up because i ate plants really likes hummus chase ball of string, for i
                        love cuddles. Yowling nonstop the whole night scamper. Being gorgeous with belly side up climb leg.
                        Open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow!.</p>
                        <sl-alert open>
                            <sl-icon slot="icon" name="info-circle"></sl-icon>
                            This is a standard alert. You can customize its content and even the icon.
                        </sl-alert>
                    </sl-tab-panel>
                    <sl-tab-panel name="advanced">
                        <p>Sit by the fire put toy mouse in food bowl run out of litter box at full speed , inspect anything
                        brought into the house nyan fluffness ahh cucumber! flex claws on the human's belly and purr like a
                        lawnmower hunt by meowing loudly at 5am next to human slave food dispenser. Jump around on couch, meow
                        constantly until given food, humans,humans, humans oh how much they love us felines we are the center
                        of attention they feed, they clean for meeeeouw hunt anything that moves, for lies down i can haz. Swipe
                        at owner's legs sit by the fire.</p>
                        <sl-tag type="primary">Primary</sl-tag>
                        <sl-tag type="success">Success</sl-tag>
                        <sl-tag type="info">Info</sl-tag>
                        <sl-tag type="warning">Warning</sl-tag>
                        <sl-tag type="danger">Danger</sl-tag>
                    </sl-tab-panel>
                </sl-tab-group>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}{% endblock javascripts %}